  body {
  background-color: #cca59a;
  color: #1A132F;
  min-height: 100vh;
}

.grid .main {
  padding: 3em;
}

.grid .main h1{
    font-size: 4em;
    width: fit-content;
    color: #1A132F;
}
.main p {
  font-size: 1.3em;
}

.grid .main .subtitle{
    margin-top: 0.8em;
    font-size: 1.9em;
    width: fit-content;
    color: #1A132F;
    font-weight: bold;
}
.underlines{
    position: relative;
    top: 0;
    left: 0;
    height: 0.15em;
    width: 100%;
    display: block;
}

.underlines .underline{
    position: absolute;
    height: 100%;
    width: 25%;
    content: '';
    background-color: aliceblue;
    display: inline-block;
}

.underlines .underline:nth-child(4){
    background-color: #1A132F;
}
.underlines .underline:nth-child(3){
    background-color: #312358;
}
.underlines .underline:nth-child(2){
    background-color: #5A40A0;
}
.underlines .underline:nth-child(1){
    background-color: #917CCB;
}

@media only screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
  }
}

.qkb-bubble-btn, .qkb-board-header {
  background-color: #382966 !important;
}